@import "style.css";


#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/SVG/construction_background.svg) top center;
    background-size: cover;
    position: relative;
}


#construction {
    padding-top: 1%;
    
}

