/*--------------------------------------------------------------
# Register Section
--------------------------------------------------------------*/
#register {
    background: #f5f5f5;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    
}

#register .register-title {
    text-align: center;
    justify-content: center;
    color: black;
    padding: 2%;
    font-weight: 600;
    font-size: calc(50px + .75vw);
}



#register .register-h3 {
    text-align: center;
    color: black;
    font-weight: 800;
    
    font-size: calc(35px + .75vw);
}

#register .register-p {
    color: black;
    font-size: calc(25px + .5vw);
}

#register .register-img {
    width: 40%;
    height: auto;
}

/*--------------------------------------------------------------
# Attend Section
--------------------------------------------------------------*/
#attend {
    background: #282828;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    padding-top: 7%;
}




#attend .attend-h3 {
    text-align: center;
    color: #f5f5f5;
    font-weight: 800;
    
    font-size: calc(35px + .75vw);
}

#attend .attend-p {
    color: #f5f5f5;
    font-size: calc(25px + .5vw);
}

#attend .attend-img {
    
    height: auto;
    width: 70%; 
}

