/*--------------------------------------------------------------
# Register Section
--------------------------------------------------------------*/
#register {
    background: #f5f5f5;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    
}

#register .register-title {
    text-align: center;
    justify-content: center;
    color: black;
    padding: 2%;
    font-weight: 600;
    font-size: calc(50px + .75vw);
}



#register .register-h3 {
    text-align: center;
    color: black;
    font-weight: 800;
    
    font-size: calc(35px + .75vw);
}

#register .register-p {
    color: black;
    font-size: calc(25px + .5vw);
}

#register .register-img {
    width: 40%;
    height: auto;
}

/*--------------------------------------------------------------
# Attend Section
--------------------------------------------------------------*/
#attend {
    background: #282828;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    padding-top: 7%;
}




#attend .attend-h3 {
    text-align: center;
    color: #f5f5f5;
    font-weight: 800;
    
    font-size: calc(35px + .75vw);
}

#attend .attend-p {
    color: #f5f5f5;
    font-size: calc(25px + .5vw);
}

#attend .attend-img {
    
    height: auto;
    width: 70%; 
}

/*--------------------------------------------------------------
# FAQ Section
--------------------------------------------------------------*/
#faq{
    background-color: #f5f5f5;
    padding: 5%;
}



#faq h2 {
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}


#faq .accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #282828;
    padding: 0;
}


#faq .accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}


#faq .accordion-section .panel-default .panel-title a:after {
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}


#faq .accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}


#faq .accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}