@import "style.css";

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/SVG/Mentor\ Hero.svg) top center;
    background-size: cover;
    position: relative;
}

/*--------------------------------------------------------------
# Register Section
--------------------------------------------------------------*/
#register {
    background: #f5f5f5;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    padding-top: 5%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#register .register-title {
    text-align: center;
    justify-content: center;
    color: black;
    padding: 2%;
    font-weight: 600;
    font-size: calc(50px + .75vw);
}

#register .register-h3 {
    text-align: center;
    color: black;
    font-weight: 800;

    font-size: calc(35px + .75vw);
}

#register .register-p {
    color: black;
    font-size: calc(25px + .5vw);
}

#register .register-img {
    width: 40%;
    height: auto;
}

#register .btn-default {
    align-items: center;
    justify-content: center;
    color: #282828;
    line-height: 20px;
    border: 2px solid #3E84BD;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

#register .btn-default:hover {
    color: #F5F5F5;
    background: #254E70;
    border: 2px solid #254E70;
}

/*--------------------------------------------------------------
# Mentor Section
--------------------------------------------------------------*/
#mentor {
    background: #f5f5f5;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    padding-top: 5%;

}

#mentor .mentor-title {
    text-align: center;
    justify-content: center;
    color: black;
    padding: 2%;
    font-weight: 600;
    font-size: calc(50px + .75vw);
}

#mentor .mentor-h3 {
    text-align: center;
    color: black;
    font-weight: 800;

    font-size: calc(35px + .75vw);
}

#mentor .mentor-p {
    color: black;
    font-size: calc(25px + .5vw);
}

#mentor .mentor-img {
    justify-self: center;
    width: 60%;
    height: auto;
}

/*--------------------------------------------------------------
# Attend Section
--------------------------------------------------------------*/
#attend {
    background: #282828;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    padding-top: 7%;
}

#attend .attend-h3 {
    text-align: center;
    color: #f5f5f5;
    font-weight: 800;

    font-size: calc(35px + .75vw);
}

#attend .attend-p {
    color: #f5f5f5;
    font-size: calc(25px + .5vw);
}

#attend .attend-img {

    height: auto;
    width: 70%;
}

