@import url("../lib/bootstrapDrawers/bootstrap-side-modals.css");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}
body {
    background: #282828;
    color: #666666;
    font-family: proxima-nova,
        sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    color: #abfffe;
}

a:hover,
a:active,
a:focus {
    color: #c9fffe;
    outline: none;
    text-decoration: none;
}

p {
    font-family: proxima-nova, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.row {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    justify-content: center;
}

.btn:focus {
    box-shadow: none;
}

/*--------------------------------------------------------------
# Navbar Section
# Web Nav
--------------------------------------------------------------*/
@media (min-width: 993px) {
    #nav-mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .web-container {
        display: none;
    }
}

@media (orientation: portrait) {
    #nav .navbar-logo {
        transition: all 0.4s ease-in-out 0s;
        height: 8vw;
    }

    #nav #logo {
        background: url(../img/SVG/EV3\ Primary\ Logo.svg) left center no-repeat;
        width: 0vh;
    }

    #nav #logo.scrolled {
        width: 8vw;
    }

    #nav #logo-extended {
        background: url(../img/SVG/EV3\ Extended\ Logo.svg) left center no-repeat;
        width: calc(300/94*8vw);
    }

    #nav #logo-extended.scrolled {
        width: 0;
    }

}
@media (orientation: landscape) {
    #nav .navbar-logo {
        transition: all 0.4s ease-in-out 0s;
        height: 8vh;
    }

    #nav #logo {
        background: url(../img/SVG/EV3\ Primary\ Logo.svg) left center no-repeat;
        width: 0vh;
    }

    #nav #logo.scrolled {
        width: 8vh;
    }

    #nav #logo-extended {
        background: url(../img/SVG/EV3\ Extended\ Logo.svg) left center no-repeat;
        width: calc(300/94*8vh);
    }

    #nav #logo-extended.scrolled {
        width: 0;
    }

}
#nav .navbar-default {
    transition: 500ms ease;
    background: #0F0F0F;
}

#nav .navbar-default.scrolled {
    background: #0F0F0F90;
}

#nav a.middle {
    position: relative;
}

#nav a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c9fffe;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

#nav .nav-active>a:before,
#nav a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

#nav .nav-text {
    color: #d6d7d1;
}

#nav .nav-text:hover,
#nav .nav-active {
    color: #f5f5f5;
}

#nav .btn-default {
    color: #fff;
    line-height: 20px;
    border: 2px solid #c9fffe;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

#nav .btn-default:hover {
    color: #FFF;
    background: #336666;
    border: 2px solid #336666;
}

@media (any-hover: none) {
    #nav a.middle:hover:before {
        visibility: hidden;
    }

    #nav .nav-text {
        color: #f5f5f5;
    }

    #nav .btn-default {
        color: #fff;
        line-height: 20px;
        border: 2px solid #c9fffe;
        border-radius: 40px;
        background: transparent;
    }

    #nav .btn-default:focus {
        color: #FFF;
        background: #336666;
        border: 2px solid #336666;
    }
}

/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/

#nav-mobile .nav-button {
    color: #f5f5f5;
}

#nav-mobile .navbar-default.scrolled {
    background: #0F0F0F90;
}

#nav-mobile .navbar-default {
    transition: 500ms ease;
    background: #0F0F0F;
}
@media (orientation: portrait) {
#nav-mobile .navbar-logo {
    transition: all 0.4s ease-in-out 0s;
    height: 8vh;
}

#nav-mobile #logo-icon {
    background: url(../img/SVG/EV3\ Icon\ Logo.svg) left center no-repeat;
    width: 0vh;
}

#nav-mobile #logo-icon.scrolled {
    width: 8vh;
}

#nav-mobile #logo-extended-m {
    background: url(../img/SVG/EV3\ Extended\ Logo.svg) left center no-repeat;
    width: calc(300/94*8vh);
}

#nav-mobile #logo-extended-m.scrolled {
    width: 0;
}

}
@media (orientation: landscape) {
    #nav-mobile .navbar-logo {
        transition: all 0.4s ease-in-out 0s;
        height: 8vw;
    }

    #nav-mobile #logo-icon {
        background: url(../img/SVG/EV3\ Icon\ Logo.svg) left center no-repeat;
        width: 0vh;
    }

    #nav-mobile #logo-icon.scrolled {
        width:8vw;
    }

    #nav-mobile #logo-extended-m {
        background: url(../img/SVG/EV3\ Extended\ Logo.svg) left center no-repeat;
        width: calc(300/94*8vw);
    }

    #nav-mobile #logo-extended-m.scrolled {
        width: 0vh;
    }

}
@media (orientation: portrait) {

    #nav-mobile .modal.left .modal-dialog.modal-sm,
    #nav-mobile.modal.right .modal-dialog.modal-sm {
        width: 75vw;
    }
}
@media (orientation: landscape) {

    #nav-mobile .modal.left .modal-dialog.modal-sm,
    #nav-mobile.modal.right .modal-dialog.modal-sm {
        width: 45vw;
    }
}

#nav-mobile .modal-content {
    background-color: #0F0F0F;
}

#nav-mobile .modal-header {
    color: #f5f5f5;
    border-bottom: 2px;
    border-bottom: solid;
    border-bottom-color: #c9fffe;
}

#nav-mobile .close-modal {
    color: #f5f5f5;
    background: 00000000;
    border: none;
    font-family: ibm-plex-sans,
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
}

#nav-mobile .nav-text {
    color: #f5f5f5;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10%;
    display: flex;
    justify-content: center top;
    align-items: top;
    text-align: center;
    flex-direction: column;

}

#hero h1 {
    margin: 30px 0 10px 0;
    padding-top: 10;

    font-size: calc(55px + 1.25vw);

    text-transform: uppercase;
    color: #f5f5f5;
}

/*--------------------------------------------------------------
# FAQ Section
--------------------------------------------------------------*/
#faq {
    background-color: #282828;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#faq h2 {
    font-family: ibm-plex-sans, sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 4%;
    font-size: calc(35px + .75vw);

}

#faq .accordion-section .panel-default>.panel-heading {
    border: 0;
    background: #f5f5f5;

    padding: 0;
}

#faq .accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: calc(20px + .75vw);
    color: #282828;
    text-decoration: underline solid #3E84BD;
    font-family: proxima-nova, sans-serif;
}

#faq .accordion-section .panel-default .panel-title a:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}

#faq .accordion-section .panel-default .panel-title a.collapsed:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
}

#faq .accordion-section .panel-default .panel-body {
    font-size: calc(15px + .5vw);
    color: white;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

#footer {
    background-color: #254E70;
    color: white;

}

#footer .container1 {
    background-color: #254E70;
}

#footer .bruh {
    text-align: center;
}

#footer .bruh1 {
    padding-top: 1.25%;
}

#footer a {
    color: #fff;
}

#footer a:hover,
a:active,
a:focus,
a:link {
    color: #abfffe;
    outline: none;
    text-decoration: none;
}

#footer .bruh2 {
    color: white;
}

#footer .bruh2:hover {
    color: #3e84bd;
}

@media (max-width: 760px) {

    .footer_copy {
        text-align: center;

    }

}